body {
    margin: 0px; 
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
   
}

.main-section {
    display: flex;
}

.mobilemenu {
    display: none;
}

.menu-pic-area {
    display: none;
}

.navigation {
    margin-bottom: -90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 49, 144);
    width: 13%;
    height: 100vh;
}

.logo-picture {
    width: 50px; 
    height: 50px; 
    margin-top: 35px; 
}

.navigation-bar {
    display: flex; 
    flex-direction: column; 
    line-height: 2.2; 
    font-size: 17px; 
    margin-bottom: 10px;
}

.navigation-bar a {
    color: white; 
    text-decoration: none; 
    transition: all 225ms ease-in-out; 
    opacity: 0.9;
}

.navigation-bar a:hover {
    transform: scale(1.1);
    font-weight: bold; 
    opacity: 1; 
    border-left: solid 4px white; 
    padding-left: 10px;
}

.hover-line {
    padding-left: 10px;
}

.user-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; 
    border-color: black; 
    border: 3px solid;  
    transition: all 225ms ease-in-out; 
}

.user-pic:hover {
    transform: scale(1.2);
}

.logout-btn {
    display: flex;
    margin-bottom: 20px;
    background-color: rgb(142,158,232); 
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 6%;
    color: black;
    text-decoration: none;
    transition: all ease-in-out 225ms;
}

.logout-btn:hover {
    color: white;
    transition: scale(1.2);
    font-weight: bold;
}

.d-flex {
    display: flex;
}


   .size {
    width: 1777px;
    height: 659px
}

.backlog-overall-section {
    margin-left: 10px;
    margin-right: 10px;
    animation: 1s flyIn ease-out;
}

.assigned-backlog {
    display: flex;
    flex-direction: column;
    width: 38%;
}

.assigned-person {
    display: flex;
    align-items: center;
}

.name-backlog {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.category-backlog {
    display: flex;
    width: 38%;
    align-items: center;
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(24px);
    }
    to {
        opacity: 2;
        transform: translateY(0px);
    }
}


.backlog-section {
    align-items: center;
}

.header-backlog {
padding: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.title-backlog {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.p-backlog {
    margin-top: -20px;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    }

.headings-backlog {
    width: 100%;
    padding-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20;
    margin-top: 30px;
    padding-left: 20;
    color: rgb(30, 49, 144);    
}

.p-headings-assigned {
    width: 47%;
    padding-left: 10px;
}

.p-headings-category {
    width: 79%;
}

.p-headings-details {
    width: 5%;
}


.category {
    margin-left: -99px;
}

.backlog-div {
    display: flex;
    background-color: #F4F3FB;
    border-radius: 12px;
    height: 80px;
    width: 100%;
    padding-left: 10px;
    margin-left: 50px;
}

.img-backlog {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 16px;
}

.img-backlog img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.name-backlog {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center
}



.details-backlog {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    width: 35%;
  
}

.details-text {
    padding-top: 10px;
}

/* Dialog */

.dialog-bg {
    position: fixed;
    background-color: #666;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;

}

.dialog {
    height: 40vh;
    width: 40vw;
    background-color: white; 
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 32px;
    font-family: 'PT Sans', sans-serif;
}

.d-none-details {
    display: none;
}

.d-none-text {
    display: none;
}


/* Responsive Menue */

@media(max-width: 1000px) {

    .navigation {
       display: none;
    }

    .p-headings {
        margin-right: 230px;
        margin-left: -9px
    }

    .category {
        margin-left: -112px;
    }

    .backlog-div {
        width: 66%;
    }

    .category-backlog {
        margin-left: 108px;
    }

    .mobilemenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Viga', sans-serif;
        overflow: hidden;
        height: 0px;
        width: 70%;
        transition: all 500ms ease-in-out;
    }

    .mobilemenu a {
        display: flex;
        justify-content: center;
        padding-top: 20;
        color: white;
        text-decoration: none;
        flex-direction: column;
        z-index: 1;
    }

    .show-mobilemenu {
        height: 220px;
        border-top: 1px solid white;
    }

    .logout-btn {
        height: 10px;
        padding-bottom: 15px;
    }
    
    .responsive-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: rgb(30, 49, 144);
    }

    .menu-pic {
        width: 40px;
        padding-bottom: 20px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }

    .menu-pic:hover {
        transform: scale(1.2);
    }

    .logo-pic {        
        display: flex;
        margin-right: 450px;
        height: 45px;
    }

    .menu-pic-area {
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width: 950px) {

    .backlog-div {
        width: 73%;
    }

    .assigned-backlog {
    display: flex;
    flex-direction: column;
    width: 46%;
    }

    .category-backlog {
    display: flex;
    width: 34%;
    align-items: center;
}

    .details-backlog {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    width: 51%;
}

.p-headings-assigned {
    width: 57%;
    padding-left: 10px;
}

.p-headings-category{
    width: 65%;
}  

.p-headings-details{
    width: 53%;
}

}


@media(max-width: 900px){

    .details-text {
        display: none;
    }
    
    
    .d-none-text {
        display: block;
    }

    .backlog-div {
        width: 69%;
    }

.headings-backlog{
    margin-left: 8px;

}

.p-headings {
    margin-right: 148px;
    margin-left: 24px;
}

.category {
margin-left: -47px; 
}

.details-backlog {
    margin-left: 200px;
}


}

@media (max-width: 610px) {
    .show-mobilemenu {
        height: 200px;
        border-top: 1px solid white;
        width: 500px;
    }
}

@media (max-width: 610px) {
    .show-mobilemenu {
        height: 200px;
        border-top: 1px solid white;
        width: 500px;
    }
}

@media (max-width: 560px) {
    .logo-pic {
        margin-right: 380px;
        height: 40px;
    }

    .show-mobilemenu {
        width: 450px;
    }
}

@media (max-width: 480px) {
    .logo-pic {
        margin-right: 300px;
    }

    .show-mobilemenu {
        width: 350px;
    }
}

@media (max-width: 430px) {
    .logo-pic {
        margin-right: 280px;
    }
}

@media (max-width: 412px) {
    .logo-pic {
        margin-right: 250px;
    }

    .show-mobilemenu {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .logo-pic {
        margin-right: 200px;
    }
}

@media(max-width: 360px) {

    .title-backlog {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .p-backlog {
        margin-top: 0px;
    font-size: 17px
    }

    .navigation {
        display: none;
    }

    .backlog-div {
        width: 58%;
    }

    .name-backlog {
        display: none;
    }

.details-text {
    display: none;
}


.d-none-details {
    display: block;
}
}

@media (max-width: 321px) {
    .show-mobilemenu {
        width: 250px;
    }
}

@media (max-width: 281px) {
    .logo-pic {
        margin-right: 150px;
    }

    .show-mobilemenu {
        width: 200px;
    }
}
