body {
    margin: 0px; 
    font-family: 'PT Sans', sans-serif;
}

.main-section {
    display: flex;
}

.mobilemenu {
    display: none;
}

.menu-pic-area {
    display: none;
}

.d-none {
    display: none;
}

.navigation {
    margin-bottom: -90;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 49, 144);
    width: 13%;
    height: 100vh;
}

.logo-picture {
    width: 50px; 
    height: 50px; 
    margin-top: 35px; 
}

.navigation-bar {
    display: flex; 
    flex-direction: column; 
    margin-top: -200px;
    line-height: 2.2; 
    font-size: 17px; 
    margin-bottom: 10px;
}

.navigation-bar a {
    color: white; 
    text-decoration: none; 
    transition: all 225ms ease-in-out; 
    opacity: 0.9;
}

.navigation-bar a:hover {
    transform: scale(1.1);
    font-weight: bold; 
    opacity: 1; 
    border-left: solid 4px white; 
    padding-left: 10px;
}

.hover-line {
    padding-left: 10px;
}

.user-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; 
    border-color: black; 
    border: 3px solid; 
    margin-bottom: 40px; 
    transition: all 225ms ease-in-out; 
}

.user-pic:hover {
    transform: scale(1.2);
}

.d-flex {
    display: flex;
}

.second-section {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
}

.header-board {
    font-size: 18;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0px;
}

.pushboard-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}

.pushboard {
    width: 155px;
    background-color: rgb(244,243,251);
    height: 600px;
    margin-top: -5px;
}

.pin {
    border: solid 3px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.first-row-pin {
    display: flex;
}

.p-header {
    font-weight: bolder;
    font-size: 17;
}

.x-pin {
    width: 20px;
    height: 20px;
    margin-left: 75px;
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.x-pin:hover {
    transform: scale(1.1);
}

.second-row-pin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-pin {
    margin-bottom: 5px;
    margin-top: -8px;
}

.user-pic-pin {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border-color: black;
    border: 3px solid;
    margin-bottom: 20px;
    margin-top: 5px;
}

.arrow-pin-left {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.arrow-pin-left:hover {
    transform: rotate(100deg);
}

.arrow-pin-right {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    transform: rotate(-90deg);
    margin-left: 30px;
    cursor: pointer;
    transition: all ease-in-out 225ms;
}

.arrow-pin-right:hover {
    transform: rotate(-100deg);
}

@media (max-width: 1000px) {
    .navigation-bar {
        font-size: 14;
        margin-left: 80px;
        width: 200px;
    }
}

@media (max-width: 950px) {
    .second-section {
        margin-left: 40px;
    }
}

@media (max-width: 870px) {
    .second-section {
        margin-left: 20px;
    }
}

@media (max-width: 840px) {
    .second-section {
        margin-left: 5px;
    }

    .navigation-bar {
        margin-left: 90px;
    }
}

@media (max-width: 835px) {
    .pushboard {
        width: 130px;
    }

    .second-section {
        margin-left: 50px;
    }
}

@media (max-width: 790px) {
    .second-section {
        margin-left: 35px;
    }
}

@media (max-width: 760px) {
    .navigation-bar {
        margin-left: 100px;
    }

    .navigation {
        width: 110px;
    }

    .second-section {
        margin-left: 15px;
    }
}

@media (max-width: 769px) {
    .second-section {
        margin-left: 10px;
    }

    .navigation {
        width: 115px;
    }
}

@media (max-width: 740px) {
    .pushboard {
        width: 110px;
    }

    .second-section {
        margin-left: 45px;
    }
}

@media (max-width: 700px) {
    .second-section {
        margin-left: 25px;
    }

    .header-board {
        font-size: 15;
    }
}

@media (max-width: 670px) {
    .second-section {
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .second-section {
        margin-left: 0px;
    }
}

@media (max-width: 640px) {
    .mobilemenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Viga', sans-serif;
        overflow: hidden;
        height: 0px;
        width: 70%;
        transition: all 500ms ease-in-out;
    }

    .mobilemenu a {
        display: flex;
        justify-content: center;
        padding-top: 15;
        color: white;
        text-decoration: none;
        flex-direction: column;
        z-index: 1;
        transition: all 225ms ease-in-out;
    }

    .mobilemenu a:hover {
        transform: scale(1.1);
    }

    .show-mobilemenu {
        height: 200px;
        border-top: 1px solid white;
        width: 580px;
    }
    
    .responsive-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        background-color: rgb(30, 49, 144);
    }

    .menu-pic {
        width: 40px;
        padding-bottom: 20px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
    }

    .menu-pic:hover {
        transform: scale(1.2);
    }

    .logo-pic {        
        display: flex;
        margin-right: 450px;
        height: 45px;
    }

    .menu-pic-area {
        display: flex;
        justify-content: space-between;
    }

    .pushboard {
        height: 300px;
        width: 200px;
    }

    .second-section {
        flex-direction: column-reverse;
        margin-left: 80px;
    }

    .pushboard-section {
        width: 300px;
        padding-bottom: 20px;
    }

    .navigation {
        display: none;
    }
}

@media (max-width: 610px) {
    .show-mobilemenu {
        height: 200px;
        border-top: 1px solid white;
        width: 500px;
    }

    .second-section {
        margin-left: 120px;
    }
}


@media (max-width: 560px) {
    .second-section {
        margin-left: 40px;
    }

    .logo-pic {
        margin-right: 380px;
        height: 40px;
    }

    .second-section {
        margin-left: 100px;
    }

    .show-mobilemenu {
        width: 450px;
    }
}

@media (max-width: 480px) {
    .second-section {
        margin-left: 60px;
    }

    .logo-pic {
        margin-right: 300px;
    }

    .show-mobilemenu {
        width: 350px;
    }
}

@media (max-width: 430px) {
    .second-section {
        margin-left: 40px;
    }

    .logo-pic {
        margin-right: 280px;
    }
}

@media (max-width: 412px) {
    .second-section {
        margin-left: 30px;
    }

    .logo-pic {
        margin-right: 250px;
    }

    .show-mobilemenu {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .second-section {
        margin-left: 20px;
    }

    .logo-pic {
        margin-right: 200px;
    }
}

@media (max-width: 376px) {
    .second-section {
        margin-left: 12px;
    }
}

@media (max-width: 321px) {
    .second-section {
        margin-left: -5px;
    }

    .show-mobilemenu {
        width: 250px;
    }
}

@media (max-width: 281px) {
    .second-section {
        margin-left: -25px;
    }

    .logo-pic {
        margin-right: 150px;
    }

    .show-mobilemenu {
        width: 200px;
    }
}