<div class="responsive-menu">
    <div class="menu-pic-area">
        <img src="img/logo.png" class="logo-pic">
        <img src="img/menu.svg" onclick="showMenu()" class="menu-pic">
    </div>

    <div class="mobilemenu" id="res-menu">
    <a href="board.html">Board</a>
    <a href="addtask.html">Add Task</a>
    <a href="backlog.html">Backlog</a>
    <a href="faq.html">FAQs</a>
    <a href="impressum.html">Impressum</a>
    <a class="logout-btn" href="index.html" onclick="logout()">Logout</a>
    </div>
</div>